
<h2>Plantains</h2>
<p>Annual Production 2008: 34,343,343 tons

    Average Yield 2008: 6.3 tons/hectare

    The rundown: Despite its similar look to the banana, plantains differ from bananas in structure, feel, taste and
    use.
    Plantains are starchier and lower in sugar than bananas, and they are cooked before eating. Overall worldwide
    production
    of plantains have been dropping since the 1970s, thanks to soil degradation, pests, drought and poor crop husbandry.
    They are a good source of potassium and dietary fiber.</p>
<h2>Yams</h2>
<p>Annual Production 2008: 51,728,233 tons

    Average Yield 2008: 10.5 tons/hectare

    The rundown: Most yams are produced in West and Central Africa, with Nigeria far and away the biggest producer in
    the
    world. Yams are the first harvested crop of the year, which marks the beginning of several Yams Festivals throughout
    Africa. They can get up to almost five feet in length.</p>

<h2>Sorghum</h2>
<p>Annual Production 2008: 65,534,273 tons

    Average Yield 2008: 1.5 tons/hectare

    Sorghum is the fifth most important cereal crop worldwide. It is drought and heat tolerant and thus an important
    crop in
    arid regions where major cereals do not produce sufficient yields. Consumption of sorghum, however, has decreased
    considerably in many African countries, especially in urban areas. (Source: Reuters)

    The rundown: Arid regions love sorghum, a heat and drought-resistant crop. Though overall consumption of sorghum has
    gone down in many African countries, it's still considered the fifth most important cereal crop globally. Sorghum
    bicolor is the name of the edible plant -- it has other, wilder relatives that are grown as foliage</p>

<h2>Sweet potatoes</h2>
<p>Annual Production 2008: 110,128,298 tons

    Average Yield 2008: 13.5 tons/hectare

    The rundown: Sweet potatoes are another crop native to South America that is now majorly produced by China. They are
    only distantly related to regular potatoes, and in the U.S. they are often confused with yams. Sweet potatoes are a
    great source of protein, vitamins A and C, iron, and calcium. They grow very harmoniously with the earth -- few
    natural
    enemies make pesticides unnecessary.</p>

<h2>Soybeans</h2>
<p>Annual Production 2008: 230,952,636 tons

    Average Yield 2008: 2.4 tons/hectare

    The rundown: Soybeans are on double duty as both nutritious for humans -- with significant amino acids, protein and
    oil
    -- and for soil as a natural fertilizer. It produces twice as much protein per acre as any other major vegetable
    crop.
    Supply is far outweighed by demand for this energizer bean.</p>

<h2>Cassava</h2>
<p>Annual Production 2008: 232,950,180 tons

    Average Yields 2008: 12.5 tons/hectare

    The rundown: Cassava's importance in Africa and South America can not be overstated. As a drought-resistant crop
    that
    does well in poor soils, cassava is a starch-heavy lifesaver for low-income areas. Cassava eaters know that the
    roots
    and leaves must be cooked in order to lose that toxic level of cyanogenic glucosides.
</p>

<h2>Potatoes</h2>
<p>Annual Production 2008: 314,140,107 tons

    Average Yield 2008: 17.2 tons/hectare

    The rundown: Potatoes are the number one non-grain food product. Originally grown in the Andes, the Spanish
    introduced
    Europe to the potato in the 16th century and the starchy crop hasn't looked back since. China is now the largest
    potato-producer worldwide.</p>

